@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Varela+Round&display=swap');


*{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: #333;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 340px;
}

.flavour{
    position: absolute;
    left: 50%;          
    bottom: 20px;       
    transform: translateX(-50px);
    display: flex;
}

.flavour li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.flavour li:hover{
    transform: translateY(-15px);
}

.flavour li img{
    max-width: 60px;
}

.social{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

.about{
    width: 100%;
    height: 600px;
    padding: 78px 0px;
    background-color: #191919;
    }

.about img{
    height: auto;
    width: 420px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text .p1{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #f900f9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    margin-top: -35px;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover{
    background: transparent;
    border: 2px solid #f900f9;
    cursor: pointer;
}


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: blur(50px);
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left{
    height: 100%;
    background: url('media/contactImg.avif') no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
.right h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.right h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color:#fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}
.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.btn:hover{
    background-color: #27ae27;
    cursor: pointer;
}

.footer {  
    position: relative;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%;  
    background-color: gray;  
    color: white;  
    text-align: center;  
    }  
@media screen and (max-width:880px) {
    .contact-box{
        grid-template-columns: 1fr;
    }
    .about-text{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
    
}